@import url("https //fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
}

header {
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    border-radius: 10px;
    margin-right: 10px; /* Add margin to create space between logo and text */
}

.logo-name {
    color: white;
    font-size: 0.7cm;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}
