@import url("https //fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; 
    border-radius: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px; 
}

.page-heading {
    font-size: 1.5em;
    text-align: center; 
    margin-top: 20px; 
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.button {
    display: inline-block;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #b38add;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #4acb5d;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}